* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'oswaldregular';
    font-weight: bold;
}

@font-face {
    font-family: 'oswaldregular';
    src: url('webfonts/oswald-variablefont_wght-webfont.woff2') format('woff2'),
         url('webfonts/oswald-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: gainsboro;
}

ul {
    list-style: none;
    /*border: 1px solid purple;*/
}

.dashboard {
    display: grid;
    grid-row: 1 / 3;
    background-color: #082f49;
    color: whitesmoke;
    /*border: 1px solid seagreen;*/
    align-content: start;
    row-gap: 50px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.dashboard-header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /*border: 1px solid steelblue;*/
}

.dashboard-header img {
    filter: invert(100%);
    width: 3.25rem;
}

.dashboard-title {
    font-size: 2rem;
    align-self: center;
}

.dashboard-list-one,
.dashboard-list-two {
    /*border: 1px solid steelblue;*/
    font-size: 1.25rem;
    line-height: 2.5rem;
}

.dashboard-list {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /*align-self: center;*/
    /*border: 1px solid white;*/
}

.dashboard-list img {
    filter: invert(100%);
    width: 1.25rem;
}

.dashboard-divider {
    background-color: gainsboro;
    justify-self: center;
    height: 1px;
    width: 85%;
}

.header {
    display: grid;
    grid-column: 2 / 6;
    background-color: white;
    box-shadow: 5px 5px 5px darkgrey;
    /*border: 1px solid seagreen;*/
    padding-right: 15px;
    padding-left: 15px;
    
}

.one-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    /*border: 1px solid red;*/
    justify-items: end;
}

.one-menu img {
    width: 1.75rem;
    margin-left: 15px;
}

.search-container {
    display: grid;
    grid-template-columns: 1fr 15fr;
    /*grid-column: 1 / 2;*/
    align-items: center;
    justify-self: start;
    /*border: 1px solid purple;*/
    margin: 15px 15px;
}

.search-container img {
    width: 1.75rem;
}

input {
    font-size: 1rem;
    background-color: gainsboro;
    border: none;
    border-radius: 5px;
}

img {
    /*border: 1px dashed purple;*/
    font-size: 1rem;
    align-self: center;
}

.user {
    /*border: 1px dashed steelblue;*/
    align-self: center;
    text-align: center;
    font-size: 1.5rem;
    margin-right: 30px;
}

.subheader-one,
.subheader-two {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /*border: 1px solid seagreen;*/
}

.subheader-two {
    padding-bottom: 15px;
}

.user-greeting {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    /*border: 1px solid steelblue;*/
}

.user-greeting img {
    margin-left: 15px;
    width: 4rem;
}

.greeting {
    /*border: 1px solid red;*/
}

.handle {
    font-size: 1.75rem;
}

.subheader-two-menu {
    /*border: 1px solid steelblue;*/
    align-self: end;
    margin-right: 15px;
    margin-bottom: 5px;
}

.subheader-two-menu ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.subheader-two-menu li {
    text-align: center;
    /*border: 1px solid orange;*/
}

button {
    background-color: #082f49;
    color: whitesmoke;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 5px grey;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 7.5px;
    width: 6rem;
}

.project-header,
.ann-header,
.trend-header {
    font-size: 1.5rem;
}

.content {
    display: grid;
    /*border: 1px solid seagreen;*/
    grid-column: 2 / 5;
    margin: 40px 15px 15px 15px;
}

.project-header {
    position: relative;
    top: -15px;
    /*border: 1px solid steelblue;*/
}

.content-card {
    /*border: 1px solid seagreen;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.content-card .card {
    display: grid;
    background-color: white;
    box-shadow: 5px 5px 5px darkgrey;
    /*border: 1px solid steelblue;*/
    border-radius: 5px;
    height: 225px;
    padding: 15px;
    border-left-width: 10px;
    border-left-color: #eab308;
    border-left-style: solid;
}

.card-img-container {
    display: flex;
    justify-content: flex-end;
    /*border: 1px solid seagreen;*/
}

.card-img-container img {
    /*border: 1px dashed steelblue;*/
    width: 1.5rem;
    margin-left: 5px;
}

.description {
    color: dimgrey;
    font-weight: normal;
}

.right-sidebar {
    display: grid;
    /*border: 1px solid seagreen;*/
    margin: 40px 15px 15px 15px;
    grid-column: 5 / 6;
    align-content: start;
}

.divider {
    background-color: dimgrey;
    align-self: center;
    height: 1px;
    width: 85%;
    margin: 25px 15px;
}

.ann-header {
    position: relative;
    top: -15px;
    /*border: 1px solid steelblue;*/   
}

.right-content {
    display: grid;
    /*border: 1px solid seagreen;*/
    gap: 25px;
}

.ann-card {
    background-color: white;
    box-shadow: 5px 5px 5px darkgrey;
    /*border: 1px solid steelblue;*/
    border-radius: 5px;
    display: grid;
    /*height: 300px;*/
    padding: 15px;
}

.right-sidebar-trend {
    /*border: 1px solid steelblue;*/
}

.trend-header {
    position: relative;
    bottom: -10px;
    /*border: 1px solid steelblue;*/
}

.trending-card {
    background-color: white;
    box-shadow: 5px 5px 5px darkgrey;
    /*border: 1px solid steelblue;*/
    border-radius: 5px;
    height: 300px;
    padding: 15px;
}