* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

ul, li {
    list-style: none;
}

.dashboard {
    display: grid;
    /*grid-column: 1 / 2;*/
    grid-row: 1 / 3;
    border: 1px solid seagreen;
    align-content: start;
    row-gap: 50px;
}

.dashboard .dashboard-header {
    border: 1px solid steelblue;
}

.dashboard-list-one,
.dashboard-list-two {
    border: 1px solid steelblue;
}

.header {
    display: grid;
    /*grid-template-columns: 2fr 1fr;*/
    grid-column: 2 / 6;
    /*grid-row: 1 / 2;*/
    border: 1px solid seagreen;
}

.subheader-one,
.subheader-two {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 1px solid seagreen;
}

.user-greeting {
    display: grid;
    /*grid-column: 1 / 2;*/
    border: 1px solid steelblue;
}

.subheader-two-menu ul {
    display: grid;
    /*grid-column: 2 / 3;*/
    grid-template-columns: repeat(3, 1fr);
}

.content {
    display: grid;
    border: 1px solid seagreen;
    grid-column: 2 / 5;
}
.project-header {
    position: relative;
    top: 25px;
    border: 1px solid steelblue;
}

.content-card {
    border: 1px solid seagreen;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /*grid-column: 2 / 5;*/
    gap: 15px;
    margin: 15px;
    margin-top: 50px;

}

.content-card .card {
    /*display: grid;
    grid-column: 2 / 5;
    /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
    /*gap: 15px;*/
    display: grid;
    border: 1px solid steelblue;
    height: 200px;
}

.ann-card {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
}

.announcement-trending {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
    grid-column: 5 / 6;
    /*grid-row: 2 / 3;*/
    border: 1px solid seagreen;
    /*height: 500px;*/
    margin: 15px;
    margin-top: 50px;
    /*align-items: start;*/
    align-content: start;
    row-gap: 50px;
}

.announcement-trending .ann-card {
    border: 1px solid steelblue;
    display: grid;
}